<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Edit ad')"></head>
<body class="container">
<nav th:replace="fragments/navbar :: navbar"></nav>
<h1 class="text-center">Edit an Ad</h1>

<div class="box text-center">
    <form th:action="'/posts/'+ ${post.id} + '/edit'" th:method="post" th:object="${post}">
        <label for="">Title</label>
        <input type="text" th:field="*{title}" />
        <br/>
        <div class="form-group shadow-textarea">
            <!--<input type="text" th:field="*{body}" />-->
            <textarea class="form-control z-depth-1" th:field="*{body}" id="exampleFormControlTextarea6" rows="8" placeholder="Write something here..."></textarea>
        </div>
        <button class="button">Update Post</button>
    </form>
    <!--<form th:action="@{/posts/delete}" th:method="post">-->
        <!--<input type="hidden" th:value="${post.id}" name="id">-->
        <!--<button class="button">Delete</button>-->
    <!--</form>-->
</div>
<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>